<header class="site-header" id="site-header">
  <nav class="nav-inner">
    <a href="{{ if eq site.Language.Lang "fr" }}/fr/{{ else }}/{{ end }}" class="nav-logo" aria-label="Home">S <span class="nav-logo-amp">&amp;</span> L</a>
    <button class="nav-toggle" id="nav-toggle" aria-label="Open menu" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
    <ul class="nav-links" id="nav-links">
      {{ range site.Menus.main }}
      <li><a href="{{ .URL }}" class="nav-link{{ if eq .Name "RSVP" }} nav-link--rsvp{{ end }}">{{ .Name }}</a></li>
      {{ end }}
      {{ range .Translations }}
      <li><a href="{{ .Permalink }}" class="nav-link nav-link--lang" hreflang="{{ .Language.Lang }}">{{ upper .Language.Lang }}</a></li>
      {{ end }}
    </ul>
  </nav>
  <div class="nav-ribbon" aria-hidden="true">
    <svg viewBox="0 0 1440 42" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0,8 Q90,4 180,8 Q270,12 360,8 Q450,4 540,8 Q630,12 720,8 Q810,4 900,8 Q990,12 1080,8 Q1170,4 1260,8 Q1350,12 1440,8 L1440,34 Q1350,30 1260,34 Q1170,38 1080,34 Q990,30 900,34 Q810,38 720,34 Q630,30 540,34 Q450,38 360,34 Q270,30 180,34 Q90,38 0,34 Z" fill="rgba(158,204,218,0.6)"/>
    </svg>
  </div>
</header>
